<section id="main" class="main-wrapper">
    <div class="container">
        <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
    </div>
    <script id="pattern" type="text/template">
        <div data-book-id="{id}" class="book_item col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <div class="book">
                <a href="/book/{id}" class="link-underline link-underline-opacity-0"><img src="/static/img/books/{id}.jpg" alt="{title}">
                    <div data-title="{title}" class="blockI">
                        <div data-book-title="{title}" class="title size_text">{title}</div>
                        <div data-book-author="{author}" class="author">{author}</div>
                    </div>
                </a>
                <a href="/book/{id}">
                    <button type="button" class="details btn btn-success">Читать</button>
                </a>
            </div>
        </div>
    </script>
</section>