<section class="sidebar2">
    <div class="nav2">
            <span class="filterBlock">
                <a class="sidebar_item link-underline link-underline-opacity-0" data-filter="new" href="#">Новые</a>
            </span>
        <span class="filterBlock">
                <a class="sidebar_item link-underline link-underline-opacity-0" data-filter="popular" href="#">Популярные</a>
            </span>
        <span class="filterBlock">
                <a class="sidebar_item link-underline link-underline-opacity-0" data-filter="all" href="#">Все</a>
            </span>
    </div>
</section>